/* Google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Body style start */
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(212, 204, 212);
    margin: 0px;
}
/* header section style */
.topbar{
    height: 94px;
    width: 1440px;
    background: #562EFF;
}
.navigation{
    width: 870px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    Width: 40px;
    height:  51px;
    margin-top: 28px;
    margin-left: 275px;
}
.logo-text{
    font-size: 24px;
    color: white;
    margin-top: 20px;
    margin-left: 5px;
}
.menu-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-area .menu a {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin-right: 10px;

}
.menu-area .menu a:hover{
    color: tomato;
}
/* top players section style */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    background-color: white;
    margin-top: 20px;
}
.section-title, .blogs-title{
    color: #562EFF;
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
}
.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    padding: 15px;
    margin-top: 20px;

}
.players .player img{
    height: 56px;
    width: 56px;
}
.player{
    display: flex;
    align-items: center;
    
}
.player-name{
    font-size: 16px;
    margin-left: 10px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 807px;
    height: 0px;
}
/* top blogs style start */

.blog .thumbnail img{
    width: 177px;
    height: 117px;
    margin-left: 10px;
}
.blog-info .author {
    color: #9F9F9F;
}
.author a{
    text-decoration: none;
    color: 562EFF;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.course-banner img{
    width: 224px;
    height: 104px;
}
.course-author{
    color: red;
}
.course-extra .filled{
    color: tomato;
}
.course-extra .empty{
    color: gray;
}
.course-extra{
    display: flex;
    justify-content: space-between;
}
.course-duration{
    background-color: rgba(255, 105, 180, 0.377);
    padding: 5px 12px;
    border-radius: 20px;
}
.courses{
    display: flex;
}
.course{
    margin: 10px;
}